{{- if .Values.controller.rbac.create -}}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ template "db-operator.controller.name" . }}
  labels:
    {{- include "db-operator.controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - configmaps
  - pods
  - services
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch

- apiGroups:
  - kinda.rocks
  resources:
  - databases
  - dbinstances
  - dbusers
  - dbbackups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

- apiGroups:
  - kinda.rocks
  resources:
  - databases/finalizers
  - dbinstances/finalizers
  - dbusers/finalizers
  - dbbackups/finalizers
  verbs:
  - get
  - update

- apiGroups:
  - kinda.rocks
  resources:
  - databases/status
  - dbinstances/status
  - dbusers/status
  - dbbackups/status
  verbs:
  - get
  - patch
  - update

- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - roles
  - rolebindings
  verbs:
  - create
  - update
  - get
  - list
  - watch

- apiGroups:
  - "events.k8s.io"
  resources:
  - events
  verbs:
  - create
  - update
  - patch
  - get
  - list
  - watch

- apiGroups:
  - apps
  resources:
  - deployments
  - replicasets
  verbs:
  - get
  - create
  - update
  - list
  - watch

- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - update
  - patch
  - get
  - list
  - watch

{{/* TODO: Check if really needed */}}
- apiGroups:
  - "apiextensions.k8s.io"
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch

{{/* TODO: Remove once backups are there */}}
- apiGroups:
  - batch
  resources:
  - cronjobs
  verbs:
  - create
  - update
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - update
{{- end -}}
