---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "db-operator.controller.name" $ }}
  labels:
    {{- include "db-operator.controller.labels" $ | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "db-operator.controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "db-operator.controller.labels" $ | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/controller/config.yaml") . | sha256sum }}
        {{- if .Values.annotations }}
        {{ toYaml .Values.annotations | nindent 8 }}
        {{- end }}
    spec:
      {{- if semverCompare ">=1.33-0" .Capabilities.KubeVersion.Version }}
      hostUsers: {{ .Values.hostUsers }}
      {{- end }}
      serviceAccountName: {{ template "db-operator.controller.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: operator
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: {{ include "db-operator.imageBootsrap" (dict "image" $.Values.image "chart" $.Chart) }}
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - db-operator
          {{- if (include "db-operator.args" . ) }}
          args:
            {{- range include "db-operator.args" $ | split "," }}
            - {{ . }}
            {{- end }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: OPERATOR_NAME
              value: "db-operator"
            - name: WATCH_NAMESPACE
              value: {{ .Values.watchNamespace | quote }}
            - name: RECONCILE_INTERVAL
              value: {{ .Values.reconcileInterval | quote }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: DB_BACKUP_NAMESPACE
              {{- if .Values.controller.config.backupNamespace }}
              value: {{ .Values.controller.config.backupNamespace }}
              {{- else }}
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
              {{- end }}
            - name: CONFIG_PATH
              value: "/run/config/config.yaml"
          volumeMounts:
          - mountPath: /run/config/
            name: config-volume
            readOnly: true
          resources:
            {{ toYaml .Values.resources | nindent 12 }}
      nodeSelector:
        {{ toYaml .Values.nodeSelector | nindent 8 }}
      affinity:
        {{ toYaml .Values.affinity  | nindent 8 }}
      tolerations:
        {{ toYaml .Values.tolerations | nindent 8 }}
    {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
    {{- end }}
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | nindent 8 }}
    {{- end }}
      volumes:
        - name: config-volume
          configMap:
            name: {{ template "db-operator.controller.name" . }}-config
